body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;

}

#blankspace {
    width: 100%;
    background-color: #FFFFFF;
    margin:0 auto;
    height: 30px;
}

.container {
    max-width: 1200px;
    margin:0 auto;
}

#logo {
  margin-top: 10px;
    max-width: 100px;
    float: left;
}

#topbar {
    width: 100%;
    background-color: #008000	;
    margin:0 auto;
    height: 80px;
}

#topbar-nav {
    margin-top: 25px;
    margin-left: 50px;
    float: left;
    font-size: 150%;
}

.topbar-menu {
    margin-right: 20px;
}

a:link {
    color: #C0C0C0;
    text-decoration: none;
}

a:visited {
    color: #808080;
    text-decoration: none;
}

a:hover {
    color:  #000000;
    font-weight: bold;
}

a:active {
    text-decoration: none;
}

.menu_esquerdo {
    flex: 10%;
    padding: 5px;

}

.conteudo {
    flex: 70%;
    padding: 20px;
}



footer {
    padding: 1em;
    color: #808080;
    background-color: #008000;
    clear: left;
    text-align: center;
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0px;
}
.container {
    width: 1170px;
    margin: 0px auto;
}

.row {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-md-1 {
    width: 8.33333333%;
}

.col-md-2 {
    width: 16.66666667%;
}

.col-md-3 {
    width: 25%;
}

.col-md-4 {
    width: 33.33333333%;
}

.col-md-5 {
    width: 41.66666667%;
}

.col-md-6 {
    width: 50%;
}

.col-md-7 {
    width: 58.33333333%;
}

.col-md-8 {
    width: 66.66666667%;
}

.col-md-9 {
    width: 75%;
}

.col-md-10 {
    width: 83.33333333%;
}

.col-md-11 {
    width: 91.66666667%;
}

.col-md-12 {
    width: 100%;
}

.img-responsive {
    min-width: 100%;
    height: auto;

}

@media only screen and (max-width: 1170px) {
    .container {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        width: 100%;
    }

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        margin-bottom: 15px;
        width: 100%;
    }
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.img {

    width: 100%;
    padding: 20px;
}
